body{
    background-color: rgb(153, 128, 244);
    margin: auto;
}

.BGI{
    width: 1500px;
    height: 900px;
}

.Text1{
    background-color: black;
    width: 600px;
    height:250px;
    border-style: dashed;
    border-color: azure;
    border-width: 4px;
    position: absolute;
    top: 730px;
    left: 800px;
    font-size: x-large;
    text-align: center;
    padding-top: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    transition: transform 0.4s ease;
    animation: smoothGradient 10s linear infinite;
    transition: transform 0.4s ease;
    opacity: 0.60;
    
}

@keyframes smoothGradient{
    0% {
        background-position: 0% 50%;
        background-color: rgb(0, 0, 0);
        
    }
    25% {
        background-position: 100% 50%;
        background-color: rgb(0, 0, 255);
    }
    50% {
        background-position: 0% 50%;
        background-color: rgb(242, 218, 139);
    }
    75% {
        background-position: 100% 50%;
        background-color: rgb(0, 0, 255);
    }
    100% {
        background-position: 0% 50%;
        background-color:rgb(0, 0, 0);
    }
}
   

.Text1:hover{
    transform: scale(1.1);
}

.bunny1{
    position: relative;
    width: 500px;
    height: 400px;
    top: -850px;
    left: 50px;
    border-style: dashed;
    border-color: whitesmoke;
    border-width: 4px;
    

}

.bunny2{

    width: 500px;
    height: 400px;
    display: block ;
    transition: transform 0.4s ease;
}
    

.bunny2:hover{
    transform: scale(1.1);
}

.ugly1{
    position: absolute;
    width: 600px;
    height: 465px;
    top: 100px;
    left: 860px;
    border-style: dashed;
    border-width: 7px;
    color: wheat
}

.ugly2{
    width: 600px;
    height: 465px;
    display: block;
    transition: transform 0.4s ease;
}

.ugly2:hover{
    transform: scale(1.1);
}

p1{
    position: absolute;
    top: 95%;
    left: 95%;
 }
 
 .Exit{
     font-family: 'Courier New', Courier, monospace;
     font-size: larger;
     position: absolute;
     top: 30px;
     left: 20px;     
 }
 
.Face1{
    position: absolute;
    width: 300px;
    height: 380px;
    top: 500px;
    left: 50px;
    border-style: dashed;
    border-width: 5px;
    color: navy;
}

.Face2{
    width: 300px;
    height: 380px;
    display: block;
    transition: transform 0.4s ease;
}

.Face2:hover{
    transform: scale(1.1);
}

.Horror1{
    position:absolute;
    width: 300px;
    height: 380px;
    top: 497px;
    left: 445px;
    border-style: dashed;
    border-width: 6px;
    color: red;
}
.Horror2{
    position: absolute;
    top: 503px;
    left: 450px;
    width: 300px;
    height: 380px;
    display: block;
    transition: transform 0.4s ease;
}

    .Horror2:hover{
        transform: scale(1.1);

    }
.Abstract1{
    position: absolute;
    width: 700px;
    height: 350px;
    top: 950px;
    left: 50px;
    border-style: dashed;
    border-width: 5px;
    color: lightpink;
}
.Abstract2{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 700px;
    height: 350px;
    display: block;
    transition: transform 0.4s ease;
}
.Abstract2:hover{
    transform: scale(1.1);
}
.Circle1{
    background-color:lightyellow;
    position: absolute;
    top: 320px;
    left: 635px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.Circle2{
    background-color:lightyellow;
    position: absolute;
    top: 200px;
    left: 635px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.Circle3{
    background-color:lightyellow;
    position: absolute;
    top: 80px;
    left: 635px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}


.Circle4{
    background-color: mediumaquamarine;
    position: absolute;
    top: 1100px;
    left: 820px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.Circle5{
    background-color: mediumaquamarine;
    position: absolute;
    top: 1100px;
    left: 930px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.Circle6{
    background-color:mediumaquamarine;
    position: absolute;
    top: 1100px;
    left: 1040px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.Circle7{
    background-color:mediumaquamarine;
    position: absolute;
    top: 1100px;
    left: 1145px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
  
}
.Circle8{
    background-color:mediumaquamarine;
    position: absolute;
    top: 1100px;
    left: 1255px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
 
}

@media only screen and (max-width: 480px) {
    .Text1 {
        font-size: 6vw;
        top: 5%;
        left: 5%;
        width: 90%;
    }

    .bunny1,
    .bunny2,
    .ugly1,
    .ugly2,
    .Face1,
    .Face2,
    .Horror1,
    .Horror2,
    .Abstract1,
    .Abstract2 {
        width: 90%;
        top: 50px;
        left: 5%;
    }

    .Circle1,
    .Circle2,
    .Circle3,
    .Circle4,
    .Circle5,
    .Circle6,
    .Circle7,
    .Circle8 {
        width: 30%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
    .Text1 {
        font-size: 3vw;
    }

    .bunny1,
    .bunny2,
    .ugly1,
    .ugly2,
    .Face1,
    .Face2,
    .Horror1,
    .Horror2,
    .Abstract1,
    .Abstract2 {
        width: 70%;
    }

    .Circle1,
    .Circle2,
    .Circle3,
    .Circle4,
    .Circle5,
    .Circle6,
    .Circle7,
    .Circle8 {
        width: 20%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .Text1 {
        font-size: 2.5vw;
    }

    .bunny1,
    .bunny2,
    .ugly1,
    .ugly2,
    .Face1,
    .Face2,
    .Horror1,
    .Horror2,
    .Abstract1,
    .Abstract2 {
        width: 50%;
    }

    .Circle1,
    .Circle2,
    .Circle3,
    .Circle4,
    .Circle5,
    .Circle6,
    .Circle7,
    .Circle8 {
        width: 15%;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
    .Text1 {
        font-size: 2vw;
    }

    .bunny1,
    .bunny2,
    .ugly1,
    .ugly2,
    .Face1,
    .Face2,
    .Horror1,
    .Horror2,
    .Abstract1,
    .Abstract2 {
        width: 40%;
    }

    .Circle1,
    .Circle2,
    .Circle3,
    .Circle4,
    .Circle5,
    .Circle6,
    .Circle7,
    .Circle8 {
        width: 10%;
    }
}
