body{
    background-color: #D4E4E4;
    margin: 0; 
    padding: 0
}

.text1{
    
    font-family: 'Courier New', Courier, monospace;
    color: white;
    position: absolute;
    top: 22%;
    left: 49%;
    font-size: larger;
    letter-spacing: 4px;

}

.text2{
    
    font-family: 'Courier New', Courier, monospace;
    color: white;
    position: absolute;
    top: 60%;
    left: 49%;
    font-size: larger;
    letter-spacing: 5px;
}



img{
    width:1520px;
    height: 1100px;
}
.hi{
    width: 40%;
    height: 63%;
    position: absolute;
    top: 20%;
    left: 4%;
}

.Exit{

        font-family: 'Courier New', Courier, monospace;
        font-size: larger;
        position: absolute;
        top: 1%;
        left: 1%;     
    }




    @media only screen and (max-width: 320px) {
        .text1, .text2, .Exit {
            font-size: 12px;
        }
    
        .hi {
            top: 30%;
        }
    }
    
    @media only screen and (max-width: 480px) {
        .text1, .text2, .Exit {
            font-size: 14px;
        }
    
        .hi {
            top: 25%;
        }
    }
    
    @media only screen and (max-width: 1024px) {
        .text1, .text2, .Exit {
            font-size: 16px;
        }
    
        .hi {
            top: 20%;
        }
    }
    
    @media only screen and (max-width: 1280px) {
        .text1, .text2, .Exit {
            font-size: 18px;
        }
    
        .hi {
            top: 18%;
        }
    }
    
    @media only screen and (max-width: 1440px) {
        .text1, .text2, .Exit {
            font-size: 20px;
        }
    
        .hi {
            top: 16%;
        }
    }
